<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--
        xmlns="http://ch.qos.logback/xml/ns/logback"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd"
    -->
    <conversionRule conversionWord="decent"
                    converterClass="sh.oldskool.java.logging.DecentHighlighter"/>
    <appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <!--<withJansi>true</withJansi>-->
        <encoder>
            <pattern>%boldBlue(%-3r) %white([%-4.4thread]) %decent(%-5level [%-20.20logger{20}]:) %boldWhite(%msg%n)</pattern>
        </encoder>
    </appender>

    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>localhost</syslogHost>
        <facility>USER</facility>
        <suffixPattern>[%thread] %logger %msg</suffixPattern>
    </appender>

    <root level="debug">
        <appender-ref ref="stderr"/>
        <appender-ref ref="SYSLOG"/>
    </root>
</configuration>
